.site-footer {
    background-color: #252525;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    height: 200px;
    .footer-container {
        .social-container {

        }

        .copy-container {
            text-align: center;
            font-weight: lighter;

            a {
                text-decoration: none;
                color: #eee;
                transition: all .5s ease-in-out;
                &:hover {
                    color: goldenrod;
                }
            }
        }
    }

}